/* Css */
button{
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    border-color: #696969;
    border: 1px solid;
}
ul{
    display: inline-block;
    list-style: none;
    padding-left: 0px;
}
ul li{
    display: inline-block;
    margin: 3px;
    border-radius: 3px;
}